@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Playfair', sans-serif;
  background-color: #004643;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(
    90deg,
    #004643 0%,
    #004643 50%,
    #004643 100%
  );
  padding: 70px 0;
}

.menu {
  color: #abd1c6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  color: #abd1c6;
}

.logo {
  font-size: 25px;
  color: #f9bc60;
  text-transform: uppercase;
  font-weight: 800;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 30px;
  color: #abd1c6;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #fffffe;
}

#menu {
  display: none;
}

.menu-icon {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #001e1d;
  padding: 20px;
  min-width: 400px;
}

table {
  width: 100%;
}

th, td {
  color: #fffffe;
}

.borrar {
  background-color: #e16162;
  color: #fffffe;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: 800;
  cursor: pointer;
}

.header-content {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-txt {
  flex-basis: 40%;
}

.header-txt h1 {
  font-size: 70px;
  line-height: 1;
  color: #fffffe;
  text-transform: uppercase;
  margin-bottom: 25%;
}

p {
  font-size: 18px;
  color: #abd1c6;
  margin-bottom: 25px;
}

.btn-1, .btn-3 {
  display: inline-block;
  padding: 10px 30px;
  color: #001e1d;
  background-color: #f9bc60;
  border: 2px solid #f9bc60;
  text-transform: capitalize;
  border-radius: 15px;
}

.btn-1:hover, .btn-3:hover {
  background-color: #001e1d;
  color: #f9bc60;
}

.header-img {
  flex-basis: 60%;
}

.oferts {
  padding: 100px 0;
}

h2 {
  font-size: 40px;
  color: #fffffe;
  line-height: 1;
  margin-bottom: 10px;
}

.oferts-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.ofert-1 {
  flex-basis: calc(30% - 30px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 25px;
  background-color: #001e1d;
  text-align: center;
  border-radius: 10px;
}

.ofert-1 img {
  width: 130px;
  height: 170px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  line-height: 1;
  color: #fffffe;
  margin-bottom: 10px;
}

.products-txt {
  margin-bottom: 10px;
}

.precio {
  color: #f9bc60;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn-3 {
  padding: 4px 20px;
}

.logan-1 {
  flex-basis: 40%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  url(Buzos/buzo-banana.jpg);
  background-position: center-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  border-radius: 10px;
}

.logan-1 h3 {
  color: #fffffe;
  font-size: 30px;
  text-transform: uppercase;
}

.logan-1 p {
  color: #abd1c6;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-2 {
  display: inline-block;
  padding: 8px 30px;
  border: 1px solid #fffffe;
  color: #fffffe;
}

.promotion {
  padding: 80px 0;
  background-color: #001e1d;
}

.promotion-content {
  display: flex;
}

.promotion-txt {
  flex-basis: 50%;
}

.promotion-img {
  flex-basis: 50%;
  text-align: center;
}

.promotion-img img {
  width: 250px;
}

.product {
  padding: 100px 0;
  text-align: center;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.bloog {
  padding: 50px 0 100px 0;
}

.bloog-content {
  display: flex;
  justify-content: space-between;
}

.bloog-1 {
  flex-basis: calc(33.3% - 30px);
  margin-bottom: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.bloog-txt {
  padding: 40px;
}

.btn-4 {
  display: inline-block;
  padding: 8px 25px;
  color: #f9bc60;
  border: 1px solid #f9bc60;
  text-transform: capitalize;
  font-size: 17px;
}

.footer {
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
}

.link h3 {
  font-size: 17px;
  color: #fffffe;
  margin-bottom: 10px;
}

.link a {
  display: block;
  color: #abd1c6;
  font-size: 17px;
  margin-bottom: 10px;
}

.link a:hover {
  color: #f9bc60;
}



@media (max-width: 991px) {
  .menu {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #001e1d;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ {
    display: initial;
  }

  .logo {
    display: none;
  }

  .menu .navbar ul li a:hover {
    color: #f9bc60;
  }

  .header {
    min-height: 0vh;
    padding: 100px 30px 50px 30px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .header-txt {
    margin-bottom: 25px;
  }

  .oferts {
    padding: 30px;
  }

  .oferts-content {
    flex-direction: column;
  }

  .ofert-1 {
    margin-bottom: 30px;
  }

  .logan-1 {
    order: -2;
    margin-bottom: 30px;
  }

  .promocion {
    padding: 30px;
  }

  .promocion-content {
    flex-direction: column;
    text-align: center;
  }

  .promocion-txt {
    margin-bottom: 25px;
  }

  .promocion-img img {
    width: 200px;
  }

  .product {
    padding: 30px;
  }

  .product-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }

  .bloog {
    padding: 30px;
  }

  .bloog-content {
    flex-direction: column;
  }

  .footer {
    padding: 30px;
    flex-direction: column;
    text-align: center;
  }
}
